
.toolbar-icon {
	font-size: var(--joplin-toolbar-icon-size);
	color: var(--joplin-color3);
	margin-right: 0px;
	pointer-events: none; /* Need this to get button tooltip to work */

	&.-has-title {
		margin-right: 5px;
	}
}

img.toolbar-icon-custom {
	width: var(--joplin-toolbar-icon-size);
	height: var(--joplin-toolbar-icon-size);
	object-fit: contain;
	pointer-events: none;

	&.-has-title {
		margin-right: 5px;
	}
}
